html{
    scroll-behavior: smooth;
    transition: 2s;
}
body{
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ff3c00;
}
::-webkit-scrollbar{
    width:2px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
::-webkit-scrollbar-track{
    background-color: grey;
}
/**header**/
.header{
    width: 100%;
    height: 100px;
    z-index: 1;
    position: fixed;
    border: 0cm;
    background-image: linear-gradient(180deg,black,rgba(0,0,0,0));
}
.logo {
    float: right;
    width: 150px;
    margin-top: 15px;
    margin-left: 50px;
}
.option{
    text-decoration: none;
    color: white;
    right: 0px;
    width: 0cm;
    float: left;
    margin-right: 2cm;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom:4px solid #ff3c00;
    transition: 0.5s;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.option:nth-of-type(5){
    margin-right: 4cm;
}
.option:nth-of-type(4){
    margin-right: 2.3cm;
}
.option:nth-of-type(3){
    margin-right: 2.9cm;
}
.option:nth-of-type(2){
    margin-right: 3.2cm;
}
.option:nth-of-type(1){
    margin-right: 2.5cm;
    margin-left: 30%;
}

.option:nth-of-type(5):hover{
        width:1.7cm;
        margin-right: 2.3cm;
}
.option:nth-of-type(4):hover{
    width:1.1cm;
    margin-right: 1.2cm;
}
.option:nth-of-type(3):hover{
    width:1.6cm;
    margin-right: 1.3cm;
}

.option:nth-of-type(2):hover{
    width:1.9cm;
    margin-right:1.3cm;
}
.option:nth-of-type(1):hover{
    width:1.3cm;
    margin-right: 1.2cm;
}
/**front page**/

#bat-poster{
    background-image: linear-gradient(to left, rgba(0, 0, 0), rgba(0, 0, 0, 0)),
    url('https://cdn.theatlantic.com/thumbor/4xedENNyVDQrfV_-6NrWA2wnfJo=/0x0:1600x900/1600x900/media/img/mt/2018/07/TDK/original.jpg');;
    width: 95%;
    user-select: none;
    z-index: -1;
    transform: rotateY(180deg);
    float: left;
    position: absolute;
    background-size: cover;
    height:100%;
    margin: 2.5%;
    border-radius: 25px;
}
h1{
    color: black;
    font-size: 75px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding-top: 150px;
    padding-bottom: 5px;
    padding-left: 3%;
    margin: 0px 0px;
}
h2{
    color: #ff3c00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    text-align: left;
    padding-top: 0cm;
    padding-left: 3%;
}
h5{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:18px ;
    margin: 15px 5px;
    text-transform: capitalize;
}
.watch-trailer{
    width:112.5px;
    height: 50px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    margin-left: 20px;
    background-color:#ff3c00;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0cm;
    padding-left: 12.5px;
    margin-left: 3%;
    line-height: -10px;
}
/**cast**/
.cast{
    width:95%;
    height:1000px;
    background-color: white;
    margin: 2.5%;
    border-radius: 25px;
}

h3{
    text-align: center;
    font-size: 75px;
    text-transform: capitalize;
    padding: 10px 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    stroke-width: 10px ;
    padding-top: 50px;
}
.card{
    width: 350px;
    height: 150px;
    background-color: white;
    padding-left:  7px;
    padding-right: 7px;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    margin:10px 25px;
    display: flex;
    flex-direction: row;
}

section{
    width: 75%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 500px;
    margin-left: 10%;
    background-color: transparent;
    padding-bottom: 100px;
    
}
section::-webkit-scrollbar{
    display: none;
}
.cast button{
    position: absolute;
    width:75px;
    height:75px;
    border-radius: 500px;
    font-size: 30px;
    border: 0px;
    color: grey;
    background-color: rgb(209, 209, 209);
}
.cast button:hover{
    color: black;
    background-color: rgb(168, 168, 168);
}
#left{
    top:730px;
    left: 40px;
}
#right{
    top: 730px;
    right: 40px;
}
span{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100px;
    margin-top: 150px;
    background-color: transparent;
}
#cast-image{
    width:100px;
    height: 100px;
    border-radius: 400px;
    margin-top: 15px;
}
.cast-image1{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/christian_bale.jpg');
}

.cast-image2{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/Heath_Ledger.jpg');
}

.cast-image3{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/Aaron_.jpg');
}

.cast-image4{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/michael_cain.PNG');
}

.cast-image5{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/morgan.PNG');
}

.cast-image6{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/maggie.PNG');
}

.cast-image7{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/cillian_m.PNG');
}

.cast-image8{
    content: url('https://encryptedmasterchat.pythonanywhere.com/static/chin.PNG');
}
.cast-image9{
    content: url('');
}
.cast-image10{
    content: url('');
}
.cast-image11{
    content: url('');
}
.cast-image12{
    content: url('');
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 35px 0px 0px 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.cast-description{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(99, 99, 99);
    font-size: 18px;
    margin-left: 20px;
}
/**trailer**/
.trailer{
    width: 95%;
    height:fit-content;
    background-color:rgb(255, 255, 255) ;
    margin: 3%;
    border-radius: 25px;
    margin-top: 150px;
}
iframe{
    width: 80%;
    margin-left: 10%;
    height: 500px;
    margin-bottom: 100px;
    border: 10px solid #ff3c00;
    border-bottom:50px solid #ff3c00 ;
}
h6{
    margin: 50px 150px;
    font-size: larger;
    font-family: 'Unbounded', cursive;
}
/**review**/
.review{
    width: 95%;
    height: fit-content;
    background-color: white;
    margin: 2.5%;
    border-radius: 25px;
}
.external-reviews{
    width: 40%;
    height: fit-content;
    margin: 0% 5%;
    background-color: rgba(0, 255, 255, 0);
}
.review-audience{
    display: flex;
    flex-direction: row;
    width: 850px;
    height:275px;
    background-color: white;
    margin: 45px 225px;
    box-shadow: 1px 1px 10px grey;
}
.user-profile{
    width: 200px;
    height: 200px;
    margin: 25px;
    border-radius: 100px;
}
.user-name{
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
}
.user-name i{
    font-size: 25px;
    color: rgb(238, 238, 2);
    padding: 0px;
}
.users-thought{
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5px;
    color: rgb(65, 65, 65);
}
.review button{
 width: 50px;
 height: 275px;
 font-size: 25px;
 color: rgba(0, 0, 0);
 background-color: rgba(209, 209, 209, 0);
 margin-top: 20px;
 border: 0cm;
 position: absolute;
 z-index: 4;
}
#left1{
    margin-left: 0%;
    margin-top: 50px;
}
#right1{
    margin-left:91%;
    margin-top: -330px;
}
.audience{
    width: 50%;
    height: fit-content;
    position: absolute;
    right: 0px;
    background-color: transparent;
    margin-top: -10px;
}
.outer{
    width:80%;
    height: 10px;
    background-color: grey;
    border-radius: 10px;
    margin: 20px 0px;
}
.inner{
    width: 95%;
    height: 10px;
    background-color: rgb(219, 216, 6);
    border-radius: 10px;
}
/**image-gallary**/
.image-gallary{
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
}
.column {
    float: left;
    width: 210px;
    padding:10px 0px;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 200px;
    height: 100px;
    transition: 0.5s;
}
.row{
    width: 90%;
    margin-left: 2.5%;
    overflow-x: scroll;
    height: 130px;
    overflow-y: hidden;
}
.row::-webkit-scrollbar{
    display: none;
}
.column img:hover {
    opacity: 1;
}
.container {
    position: relative;
    display: block;
    width: 50%;
    height: fit-content;
    margin-left: 25%;
}
.container img{
    transition: 0.5;
}
/**more like this**/
.more-like-this{
    width: 100%;
    height: 500px;
}
/**footer**/
footer{
    width: 100%;
    height: 400px;
    background-color: rgb(63, 63, 63);
    border-top: 10px solid #f51112;
}